/* ============================================================
   DemoLiquidGlass — Form Stylesheet
   Supports: prefers-color-scheme (light/dark)
   ============================================================ */

@media (form-theme: win-classic) {
     
   }
   
@media (form-theme: fluent-ui) {
   .main-surface {
        fill: #E9F1F8;
        stroke: transparent;
    }
   @media (prefers-color-scheme: dark) {
      .main-surface {
           fill: #162535;
           stroke: transparent;
       }
   }
}